@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-ink-900 antialiased;
}

/* Nice selection */
::selection {
  background: rgba(69, 246, 185, 0.35);
}


